#section-header {
    background-color: blue;
    color: white;
    padding: 5px;
    cursor: pointer;
}

#accordion {
    width: 400px;
    background-color: yellow;
    margin: auto;
}

#section {
    padding: 5px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
